<p>reset-password works!</p>
<div class="reset-password-component">
    <h2>Login</h2>
    <form action="#" method="POST">
        <input type="password" name="Neues_Password_Nr1" class="eingabe-feld" placeholder="Neues Password" required>
        <input type="password" name="Neues_Password_Nr2" class="eingabe-feld" placeholder="Neues Password" required>
        <button type="anmelden" class="Anmelden-button">Ändern</button>
    </form>
    <div class="back_to_login">
        <button [routerLink]="['/login-component']">Zurück zum Login</button>
    </div>
</div>
