<div class="login-container">
    <h2>Login</h2>
    <form action="#" method="POST">
        <input type="text" name="Benutzername" class="eingabe-feld" placeholder="Benutzername" required>
        <input type="password" name="Password" class="eingabe-feld" placeholder="Passwort" required>
        <button type="anmelden" class="Anmelden-button">Einloggen</button>
    </form>
    <div class="password_vergessen">
        <a routerLink="/reset-password-component" routerLinkActive="active">Passwort vergessen?</a>
    </div>
</div>