<app-navbar />

<router-outlet></router-outlet>
<!--
<hr>
Login
<app-login />
<hr>
Outlet
<router-outlet />
<hr>
Reg
<app-registration />
<hr>
Reset PWD
<app-reset-password />
<hr>


<nav>
    <ul>
        <li><a routerLink="/login-component" routerLinkActive="active">Login</a></li>
        <li><a routerLink="/navbar-component" routerLinkActive="active">Navbar</a></li>
        <li><a routerLink="/registration-component" routerLinkActive="active">Registration</a></li>
        <li><a routerLink="/reset-password-component" routerLinkActive="active">Reset-Password</a></li>
        <li><a routerLink="/news-component" routerLinkActive="active">News</a></li>
        <li><a routerLink="/termine-component" routerLinkActive="active">Termine</a></li>
        <li><a routerLink="/forum-component" routerLinkActive="active">Forum</a></li>
    </ul>
</nav>
-->